<div class="jumbotron jumbotron-fluid shadow p-3 mb-5 bg-white rounded">
  <div class="container">
    <p class="lead sub-heading"><span class="display-4">About</span></p>
    <p>Get to know about this project and how it works.</p>
  </div>
</div>
<div class="container">
  <p>This project help you get your bank details only using your IFSC code. By using this service, you can get the
    details of your</p>
  <ul>
    <li>Bank name.</li>
    <li>Bank contact number.</li>
    <li>Bank branch detail location and address completed with Google Map link.</li>
    <li>Availability of Payment and settlement systems like RTGS, NEFT, IMPS, and UPI.</li>
  </ul>
  <p>We hope this project will help serve the purpose for people who might want to look up some information about
    their bank branch.</p>
  
  <hr>

  <h2>What is IFSC?</h2>

  <p>IFSC or Indian Financial System Code is an alpha-numeric code that uniquely identifies a bank-branch participating
    in the NEFT system. It’s a 11-digit code with the first 4 alpha characters representing the bank, and the last 6
    characters representing the branch. The 5th character is 0 (zero).
  </p>
  <p>
    IFSC is used by the NEFT system to identify the originating / destination banks / branches and also to route the
    messages appropriately to the concerned banks / branches.
  </p>

  <hr>
  <a href="https://razorpay.com/"><img src="https://razorpay.com/assets/razorpay-logo.svg" width="150px" height="auto"
      alt="razopay-logo" style="margin-bottom: 10px;" /></a>
  <p>This project is using <a href="https://ifsc.razorpay.com/">Razorpay IFSC Toolkit</a> to fetch data.</p>
  <p><a href="https://razorpay.com/">Razorpay</a> is the only converged payments solution company in India that
    allows your business to accept, process, and disburse payments via its product suite. With Razorpay, you have access
    to all payment modes, including credit and debit cards, UPI, and popular mobile wallets
  </p>
  <p>This <a href="https://github.com/razorpay/ifsc-api">repository</a> by Razorpay is the backbone of this project.</p>
</div>