<div class="jumbotron jumbotron-fluid shadow-lg p-3 mb-5 bg-white rounded">
    
    <div class="container">
        <h3 class="about point">What this project is about?</h3>
        This project aims to help you get your bank details with your IFSC code. I tend to forget where my bank branch is located or does it offer services like UPI, NEFT, RTGS or IMPS. So I think this will help serve the purpose for people who might want to look up some information about their bank branch.

        <h3 class="about point">What is IFSC?</h3>
        IFSC is short for Indian Financial System Code and represents the 11 digit character that you can usually see on your bank’s cheque leaves, or other bank sponsored material. This 11 character code helps identify the individual bank branches that participate in the various online money transfer options like NEFT and RTGS.
    
        <h3 class="about point">API and Toolkit from Razorpay</h3>
        You can find more information about the API and tools used in this project following the links below
        <br>Razorpay: <a href="https://razorpay.com/">https://razorpay.com/</a>
        <br>Razorpay Toolkit: <a href="https://ifsc.razorpay.com/">https://ifsc.razorpay.com/</a>
      
      </div>
    </div>
