<div class="jumbotron jumbotron-fluid shadow-lg p-3 mb-5 bg-white rounded">
    
    <div class="container">
        <p class="lead sub-heading"><span class="display-4">About</span></p>
        <h2>About this project</h2>
        <p>This project help you get your bank details only using your IFSC code. By using this service, you can get the details of your</p>
          <ul>
            <li>Bank name.</li>
            <li>Bank contact number.</li>
            <li>Bank branch detail location and address completed with Google Map link.</li>
            <li>Payment and settlement systems like RTGS, NEFT, IMPS, and UPI.</li>
          </ul>
          <p>We hope this project will help serve the purpose for people who might want to look up some information about their bank branch.</p>
          <p>If you want to contribute to this project, please follow <a href="https://github.com/Sarthak-Mittal/ifsc">this link</a> to see the repo.</p>
        <h2>What is IFSC?</h2>
        <p>IFSC is the Indian Financial System Code which consist of alphanumeric code that facilitates electronic funds transfer in India. 
          A code uniquely identifies each bank branch participating in the three main Payment and settlement systems in India: the Real Time Gross Settlement (RTGS), 
          National Electronic Fund Transfer (NEFT) and Immediate Payment Service (IMPS) systems. To see the list of </p>
        <p>Bank-wise lists of IFS Codes are available with all the bank-branches participating in inter bank electronic funds transfer. 
          A list of bank-branches participating in NEFT/RTGS and their IFS Code is available on the website of <a href="https://www.rbi.org.in/scripts/neft.aspx">Reserve Bank of India</a>.
        </p>
        <hr>
        <a href="https://razorpay.com/"><img src="https://razorpay.com/assets/razorpay-logo.svg" width="150px" height="auto" alt="razopay-logo" style="margin-bottom: 10px;"/></a>
        <p>This project is using <a href="https://razorpay.com/docs/api/">RazorPay API</a> to fetch the bank data.</p>
        <p><a href="https://razorpay.com/">Razorpay</a> is the only payments solution in India that allows businesses to accept, process and disburse payments with its product suite. 
          It gives you access to all payment modes including credit card, debit card, netbanking, UPI and 
          popular wallets including JioMoney, Mobikwik, Airtel Money, FreeCharge, Ola Money and PayZapp.</p>
        <p>You can check their projects and repo on <a href="https://github.com/razorpay">this link</a>.</p>
      </div>
    </div>