<div class="jumbotron jumbotron-fluid my-jumbotron jumbotron_custom">
  <div class="inner">
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="#">Home</a>
      <a class="nav-link" href="#">Features</a>
      <a class="nav-link" href="#">Contact</a>
    </nav>
  </div>
  <div class="container">
    <div class="d-inline">
      <p class="lead sub-heading"><span class="display-4">IFSC</span></p>
      <b>Indian Financial System Code</b>
      <p class="lead sub-heading">
        Enter code to get all the important information about the bank branch.
        <!-- Added temporarily to make it easy to test-->
        Sample IFSC
        <b><span (click)="copyText('ICIC0000816')">ICIC0000816</span></b> (Click
        to copy)
      </p>
    </div>
  </div>
</div>
<br />
<br />
<div class="container">
  <form [formGroup]="bank" class="input-group">
    <input
      type="search"
      class="form-control allCaps clearable"
      formControlName="ifsc"
      placeholder="IFSC"
      aria-label="IFSC"
      (keyup)="handleKeyUp($event)"
      maxlength="11"
      aria-describedby="basic-addon2"
      required
    />

    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary search-button"
        type="button"
        [disabled]="!bank.valid"
        (click)="submit()"
      >
        <span
          class="spinner-border spinner-border-sm search-spinner"
          [ngClass]="{ 'search-spinner--hide': !apiTransitState }"
          role="status"
          aria-hidden="true"
        ></span>
        <span>Search</span>
      </button>
    </div>
  </form>
</div>

<div class="container displayArea" *ngIf="toogleDisplay">
  <div class="row">
    <div class="col-sm-6">
      <dl class="my-dl">
        <dt class="my-dt">ADDRESS</dt>
        <dd class="my-dd">
          {{ bankDetails.ADDRESS }} <br /><span
            class="myMapsBtn"
            (click)="redirectToGoogleMaps()"
            >View on Google Maps</span
          >
        </dd>
      </dl>
    </div>
    <div class="col-sm-3">
      <dl class="my-dl">
        <dt class="my-dt">BANK</dt>
        <dd class="my-dd">{{ bankDetails.BANK }}</dd>
      </dl>
    </div>
    <div class="col-sm-3">
      <dl class="my-dl">
        <dt class="my-dt">BANKCODE</dt>
        <dd class="my-dd">{{ bankDetails.BANKCODE }}</dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <dl class="my-dl flex-dl">
        <dt class="my-dt">UPI</dt>
        <dd *ngIf="bankDetails.UPI" class="my-dd">
          <fa-icon class="valid-icon" [icon]="faCheckCircle"></fa-icon>
        </dd>
        <dd *ngIf="!bankDetails.UPI" class="my-dd">
          <fa-icon class="invalid-icon" [icon]="faTimesCircle"></fa-icon>
        </dd>
      </dl>
    </div>
    <div class="col-sm-3">
      <dl class="my-dl flex-dl">
        <dt class="my-dt">NEFT</dt>
        <dd *ngIf="bankDetails.NEFT" class="my-dd">
          <fa-icon class="valid-icon" [icon]="faCheckCircle"></fa-icon>
        </dd>
        <dd *ngIf="!bankDetails.NEFT" class="my-dd">
          <fa-icon class="invalid-icon" [icon]="faTimesCircle"></fa-icon>
        </dd>
      </dl>
    </div>
    <div class="col-sm-3">
      <dl class="my-dl flex-dl">
        <dt class="my-dt">RTGS</dt>
        <dd *ngIf="bankDetails.RTGS" class="my-dd">
          <fa-icon class="valid-icon" [icon]="faCheckCircle"></fa-icon>
        </dd>
        <dd *ngIf="!bankDetails.RTGS" class="my-dd">
          <fa-icon class="invalid-icon" [icon]="faTimesCircle"></fa-icon>
        </dd>
      </dl>
    </div>
    <div class="col-sm-3">
      <dl class="my-dl flex-dl">
        <dt class="my-dt">IMPS</dt>
        <dd *ngIf="bankDetails.IMPS" class="my-dd">
          <fa-icon class="valid-icon" [icon]="faCheckCircle"></fa-icon>
        </dd>
        <dd *ngIf="!bankDetails.IMPS" class="my-dd">
          <fa-icon class="invalid-icon" [icon]="faTimesCircle"></fa-icon>
        </dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <dl class="my-dl">
        <dt class="my-dt">BRANCH</dt>
        <dd class="my-dd">{{ bankDetails.BRANCH }}</dd>
      </dl>
    </div>
    <div class="col-sm-2">
      <dl class="my-dl">
        <dt class="my-dt">CENTRE</dt>
        <dd class="my-dd">{{ bankDetails.CENTRE }}</dd>
      </dl>
    </div>
    <div class="col-sm-2">
      <dl class="my-dl">
        <dt class="my-dt">CITY</dt>
        <dd class="my-dd">{{ bankDetails.CITY }}</dd>
      </dl>
    </div>
    <div class="col-sm-2">
      <dl class="my-dl">
        <dt class="my-dt">DISTRICT</dt>
        <dd class="my-dd">{{ bankDetails.DISTRICT }}</dd>
      </dl>
    </div>
    <div class="col-sm-2">
      <dl class="my-dl">
        <dt class="my-dt">STATE</dt>
        <dd class="my-dd">{{ bankDetails.STATE }}</dd>
      </dl>
    </div>
    <div class="col-sm-2">
      <dl class="my-dl">
        <dt class="my-dt">CONTACT</dt>
        <dd class="my-dd">{{ bankDetails.CONTACT }}</dd>
      </dl>
    </div>
  </div>
</div>
