.my-jumbotron {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  background-color: white;
}

.active{
  border-bottom: 3px solid black;
  font-weight: bold; 
  color: black; 
}

.blog-footer {
  margin-top: 3rem;
  padding: 1.5rem 8rem;
  text-align: center;
  background-color: white; /* For browsers that do not support gradients */
  background-image: linear-gradient(white, #706f6f);
}

.github_logo{
  width:4rem;
  height:1.5rem;
}

.backToTop{
  color: rgb(92, 92, 92); 
  cursor: pointer;
}