.my-jumbotron{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.sub-heading{
    font-size: 16px;
}

.my-dl{
    display: flexbox;
}
.my-dt{
    padding: 4px 10px;
}
.my-dd{
    padding: 4px 10px;
}

.displayArea{
    padding: 20px;
}