<div class="jumbotron jumbotron-fluid shadow-lg p-3 mb-5 bg-white rounded">

    <div class="container">
        <p class="lead sub-heading"><span class="display-4">Contribute</span></p>
        <p>Want to get involved?</p>
    </div>
</div>

<div class="container">
    <p>If you wish to contribute to this project, Head to the <a href="https://github.com/Sarthak-Mittal/ifsc">Github repository</a>.</p>

    <ul>
        <li>Read the <a href="https://github.com/Sarthak-Mittal/ifsc/blob/master/CONTRIBUTING.md">contributor guidelines</a> of the project</li>
        <li>Get the project running locally</li>
        <li>Leave a message on a task you'd like to work on</li>
        <li>Get to work!</li>
    </ul>

    <hr>
    <p> Report feedbacks and bugs <a href="https://github.com/Sarthak-Mittal/ifsc/issues">here</a>.</p>
    <hr>
    <p> Thanks to all the <a href="https://github.com/Sarthak-Mittal/ifsc/graphs/contributors">contributors</a>!</p>
</div>