<div class="jumbotron jumbotron-fluid shadow p-3 mb-5 bg-white rounded">

    <div class="container">
        <p class="lead sub-heading"><span class="display-4">Contribute</span></p>
        <p>Want to get involved?</p>
    </div>
</div>

<div class="container">
    <p>If you wish to contribute to this project, Head to the <a href="https://github.com/Sarthak-Mittal/ifsc">Github
            repository</a>.</p>

    <ul>
        <li>Read the <a href="https://github.com/Sarthak-Mittal/ifsc/blob/master/CONTRIBUTING.md">contributor
                guidelines</a> of the project</li>
        <li>Get the project running locally</li>
        <li>Leave a message on a task you'd like to work on</li>
        <li>Get to work!</li>
    </ul>

    <hr>
    <p> This project is open source. See something that's wrong or unclear? Report feedbacks and bugs <a href="https://github.com/Sarthak-Mittal/ifsc/issues">here</a>.</p>
    <hr>
    <p> Thanks to all the <a href="https://github.com/Sarthak-Mittal/ifsc/graphs/contributors">contributors</a>!</p>
    
    <div class="container testimonials">
        <div class="row">
            <div class="avatar col-4 col-sm-3 col-md-2  text-center" *ngFor="let contributor of contributors">
                <a href="{{contributor.html_url}}">
                    <img class="img-circle" src="{{contributor.avatar_url}}" alt="{{contributor.login}}">
                </a>
                <p class="text-center"><a href="{{contributor.html_url}}">{{contributor.login}}</a></p>
            </div>
        </div>
    </div>

</div>