.sub-heading {
    font-size: 16px;
}

.testimonials {
  margin-top: 20px;    
}

.avatar{
  /* width: 6em; */
  display: block;
}
.avatar img {
  width: 4em;
}
.avatar p {
 font-size: small;
}

.img-circle {
  border-radius: 50%;
}
           